@import "../UIStyles/HudStyle.razor.scss";

ChatDisplay {
    width: 100%;
    opacity: 1;
    gap: 20px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-shrink: 0;

    .text {
        overflow:hidden;
        font-size: 14px;
        font-family: Poppins;
        color: #fff;
        text-shadow: 1px 1px 2px black;
    }

    img {
        width: 0;
        height: 48px;
        padding-right: 48px;
    }
}

@keyframes HudElementAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}