@using Sandbox;
@using System;
@using Sandbox.UI;
@inherits Panel
@namespace Physbox

@if ( PlayerComponent.LocalPlayer is null ) return;

<root>
	<PopupWindow Title="Select Team">
		<ChildContent class="content" style="height: 100%">
			@foreach ( var team in Teams )
			{
				<div class="team" onclick="@( () => JoinTeam( team ) )"
				     style="background-color: @PhysboxUtilities.GetTeamColor( team ).Hex; width: @( 100 / Teams.Count )%">
					<div class="team_label text">
						@team.ToString()
					</div>
				</div>
			}
		</ChildContent>
	</PopupWindow>
</root>

@code
{
	List<Team> Teams => GameLogicComponent.GetGameInstance().AvaliableTeams;

	public Action<Team> OnTeamSelected;

	void JoinTeam( Team team )
	{
		if ( !Teams.Contains( team ) ) return;

		var player = PlayerComponent.LocalPlayer;
		if ( team == player.Team ) return;

		player.Team = team;

		// If we are the only player on the server, and the game hasn't started,
		// we should probably start the game.
		var players = Scene.GetAllComponents<PlayerComponent>();
		if ( players.Count() == 1 )
		{
			GameLogicComponent.GetGameInstance().StartGame();
		}
		else
		{
			if ( player.IsAlive )
			{
				player.CommitSuicide();
			}
			else
			{
				player.RequestSpawn();
			}
		}


		OnTeamSelected?.Invoke( team );
		Delete();
	}

	protected override void OnEscape( PanelEvent e )
	{
		Delete();
	}
}
