DeathmatchOptions {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: all;
  z-index: 999;

  .content {
    flex-direction: column;
    gap: 16px;
  }

  .option {
    gap: 16px;
  }

  // Completely skip animations for these sub windows.
  &:intro {
    opacity: 1;
  }

  &:outro {
    opacity: 1;
  }
}
