@import "../HudStyle.razor.scss";

PlayerScoreboardPanel {
    pointer-events: all;

    .thisRoot {
        width: 100%;
        height: 54px;
        gap: 20px;
        align-items: center;
        border-radius: 0px;
    }

    .big_label {
        font-size: 24px;
    }

    .name {
        align-items: center;
        justify-content: center;
        background-color: #00ffff4c;
        width: 40%;
        height: 54px;
    }

    img {
        width: 0;
        height: 54px;
        padding-right: 54px;
    }

    .valueContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .small_label {
            margin-top: 4px;
        }
    }

    .rightHandSideContainer {
        width: 50%;
        gap: 30px;
        padding-left: 10px;
        justify-content: center;
        align-items: center;
    }
}