@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Physbox

@if (Player is null) return;

<root>
	<div class="background container">
		<div class="big_label" style="font-size: 22px">@ServerDetails</div>
		<div class="statsHeader">
			<div class="small_label" style="margin-right:28px">Kills</div>
			<div class="small_label" style="margin-right:4px">Deaths</div>
			<div class="small_label" style="margin-left:20px">Ping</div>
		</div>
		<div class="container playerContainer">
			@foreach ( var player in Scene.GetAllComponents<PlayerComponent>() )
			{
				<PlayerScoreboardPanel Player="@player"></PlayerScoreboardPanel>
			}
		</div>

	</div>
</root>

@code
{
	PlayerComponent Player => PlayerComponent.LocalPlayer;
	public string ServerDetails => $"\"{Networking.ServerName}\" ({Connection.All.Count} / {@Networking.MaxPlayers}) - {GameLogicComponent.GameMode} on {Networking.MapName}";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Time.Now);
}
