@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using System;
@inherits Panel
@namespace Physbox

@if ( PauseMenu.Paused ) return;

<root>
	<div>
		<img src="@( GetImageSource() )"/>
	</div>
	<div style="flex-direction:column">
		<div class="text" style="color: @( GetNameColor() )">
			@Name
		</div>
		<div class="text">
			@Message
		</div>
	</div>

</root>

@code
{
	public Guid Sender = Guid.Empty;

	public MessageType MessageType;
	public string Message;
	public TimeSince TimeSince;
	public bool ForceVisible = false;

	SteamId SenderSteamID = (long)0;
	string SenderDisplayName = null;
	string Name => MessageType == MessageType.Player ? SenderDisplayName : "SYSTEM";

	private string GetNameColor()
	{
		if ( MessageType == MessageType.System ) return "lightgreen";
		return SenderSteamID == (SteamId)76561198808392634 ? "gold" : "lightblue";
	}

	private string GetImageSource()
	{
		return MessageType == MessageType.System ? "materials/ui/hud_chat_system_icon.png" : $"avatar:{SenderSteamID}";
	}

	public void Hide()
	{
		if ( HasClass( "hidden" ) ) return;
		AddClass( "hidden" );
	}

	public void Show()
	{
		if ( !HasClass( "hidden" ) ) return;
		RemoveClass( "hidden" );
	}

	public ChatDisplay()
	{
		TimeSince = 0;
	}

	public override void Tick()
	{
		// Update our details as soon as possible. We cache these details so that if
		// the connection leaves the game, we can still display their chat messages.
		if ( Sender != Guid.Empty && (SenderDisplayName is null || SenderSteamID == 0) )
		{
			SenderDisplayName ??= Connection.Find( Sender ).DisplayName;
			SenderSteamID = Connection.Find( Sender ).SteamId;
			StateHasChanged();
		}

		if ( ForceVisible == true )
		{
			TimeSince = 0;
		}

		// Hide after five seconds.
		if ( TimeSince.Relative >= 5 && !ForceVisible )
		{
			Hide();
		}
	}
}
