@import "../UIStyles/HudStyle.razor.scss";

Chat {
    position: absolute;
    left: 40px;
    bottom: 170px;
    width: 40%;
    height: 340px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;

    .scrollable {
        //flex-shrink: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .container {
        gap: 5px;
    }

    TextEntry {
        opacity: 0;
        flex-shrink: 0;
        height: 64px;
        width: 100%;

        label {
            font-size: 20px;
            font-family: Poppins;
            color: #fff;
            text-shadow: 1px 1px 2px black;
            padding-left: 20px;
        }
    }
}