@using Sandbox;
@using Sandbox.UI;
@attribute [Title("Player Nametag")]
@attribute [Icon("info")]
@attribute [Group("Physbox")]
@attribute [Tint(EditorTint.Yellow)]
@inherits PanelComponent
@namespace Sandbox

@if ( !PhysboxUtilites.IsMainMenuScene() )
{
	if ( !IsProxy && !IsBot() ) return;
}

<root>
	<div class="background big_label" style="font-size: 40px">@Name</div>
</root>

@code
{

	[Sync] public string Name { get; set; } = !PhysboxUtilites.IsMainMenuScene() ? "Placeholder" : Sandbox.Utility.Steam.PersonaName;

	public bool IsBot()
	{
		var owner = GameObject.Parent;
		if ( owner.Components.TryGet<PlayerComponent>( out var player ) )
		{
			return player.IsBot;
		}
		return false;
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Name );
}
