@import "../UIStyles/HudStyle.razor.scss";
@import "../UIStyles/Style.razor.scss";

Nametag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}