@using Sandbox.UI
@using System
@inherits Sandbox.UI.Panel
@namespace Physbox
<root>
	<div class="window" @ref="WindowPanel">
		<div class="top_bar">
			<div class="text title_text">@Title</div>
		</div>
		<div ElementName="separator" style="height: 4px; background-color: grey"></div>
		<div ElementName="content">
			@ChildContent
		</div>
	</div>
	<div class="bottom">
		<div class="text">
			Press
			<Image Texture=@( Texture.Load( "/ui/glyphs/default/escape.svg?w=32&h=32" ) )/>
			to close.
		</div>
	</div>
</root>

@code
{
	public string Title { get; set; } = "Window";

	Panel WindowPanel;
	public Length? CustomHeight = null;
	public Length? CustomWidth = null;

	public Action OnClose { get; set; }

	protected override void OnAfterTreeRender( bool firstTime )
	{
		if ( !firstTime ) return;

		if ( CustomHeight is not null )
		{
			WindowPanel.Style.Height = CustomHeight;
		}

		if ( CustomWidth is not null )
		{
			WindowPanel.Style.Width = CustomWidth;
		}
	}

	public void Close()
	{
		Delete();
		OnClose?.Invoke();
	}

	protected override void OnEscape( PanelEvent e )
	{
		Close();
	}
}
