@import "../MenuStyle.razor.scss";

CreateNewLobby {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: all;
  z-index: 999;

  .content {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
  }
  
  .create_lobby {
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    margin: auto;
    background-color: #54be35;
    width: 300px;
    animation-name: HudElementAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}

@keyframes HudElementAnimation {
  0% {
    transform: translate(0px, 2px) rotate(0.5deg);
  }

  25% {
    transform: translate(2px, 0px) rotate(-0.5deg);
  }

  50% {
    transform: translate(0px, -2px) rotate(0.5deg);
  }

  75% {
    transform: translate(-2px, 0px) rotate(-0.5deg);
  }

  100% {
    transform: translate(0px, 2px) rotate(0.5deg);
  }
}
