@import "../../../UIStyles/MenuStyle.razor.scss";

DeathmatchOptions {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: all;
  z-index: 999;

  .content {
    flex-direction: column;
    gap: 16px;
  }
  
  .option {
    gap: 16px;
  }

  // Completely skip animations for these sub windows.
  &:intro {
    opacity: 1;
  }

  &:outro {
    opacity: 1;
  }
  
  .option_title {
    margin: auto;
    flex-shrink: 0;
    font-weight: bold;
    font-family: Luckiest Guy;
    font-size: 24px;
    color: #fff;
    filter: drop-shadow(2px 2px #000000ab);
  }
  
  .option_text {
    font-weight: bold;
    font-family: Luckiest Guy;
    font-size: 24px;
    color: #fff;
    filter: drop-shadow(2px 2px #000000ab);
  }
}
