@import "../../../UIStyles/MenuStyle.razor.scss";

SelectMap {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: all;
  z-index: 999;

  .content {
    flex-wrap: wrap;
    gap: 16px;
    height: 100%;
  }
  
  .option {
    gap: 16px;
  }
  
  // Completely skip animations for these sub windows.
  &:intro {
    opacity: 1;
  }

  &:outro {
    opacity: 1;
  }
  
  MapDisplay {
    width: 200px;
    height: 200px;
  }
}
