@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits Panel
@namespace Physbox

@if ( Player is null ) return;
@if ( GameLogicComponent.GameMode != GameModes.Dodgeball ) return;

<root>
	<div style="flex-direction:column; justify-content: center;">
		<div class="text title" style="color:@TextColorOverride.Hex">Lives</div>
		<div class="text value">@( GetLivesRemaining() )</div>
	</div>
</root>

@code
{
	PlayerComponent Player => PlayerComponent.LocalPlayer;
	Color TextColorOverride => GameLogicComponent.UseTeams ? PhysboxUtilities.GetTeamColor( Player.Team ) : Color.White;

	public int GetLivesRemaining()
	{
		var game = GameLogicComponent.GetGameInstance();
		var gamemode = game.GameModeComponent as DodgeballGameMode;
		if ( !gamemode.LivesLeft.ContainsKey( Player.Id ) ) return 0;

		return gamemode.LivesLeft[Player.Id];
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash()
	{
		return HashCode.Combine( GetLivesRemaining(), GameLogicComponent.GameMode );
	}
}
