@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits Panel
@namespace Physbox

@if ( Player is null && SecondsRemaining < 0 ) return;

<root>
	<div style="flex-direction:column; margin: auto;">
		<p class="text title">Timer</p>
		<p class="text value">@TimeRemaining</p>
	</div>
</root>

@code
{
	PlayerComponent Player => PlayerComponent.LocalPlayer;
	GameLogicComponent Game => GameLogicComponent.GetGameInstance();

	public int SecondsRemaining => Game.TimeShouldEnd - (int)Time.Now;
	public string TimeRemaining => string.Format( "{0}:{1:00}", SecondsRemaining / 60, SecondsRemaining % 60 );

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash()
	{
		return HashCode.Combine( SecondsRemaining );
	}
}
