@import "../UIStyles/MenuStyle.razor.scss";

LobbyDisplay {
  width: 100%;
  height: 32px;

  background-color: #000000ab;

  .text {
    font-size: 24px;
  }

  .name {
    width: 30%;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
  }

  .map {
    width: 45%;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
  }

  .players_in_lobby {
    width: 15%;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
  }

  .join_lobby {
    width: 10%;
    justify-content: center;
    background-color: #54be35;
  }
}
