MainMenuLanding {
  position: absolute;
  margin: auto;
  justify-content: center;
  align-items: center;

  width: 1000px;
  height: 1000px;

  flex-direction: column;
  gap: 20px;

  .play {
    width: 300px;
    height: 100px;
    background-size: 300px 100px;
    background-image: url(materials/ui/hud_background_1.png);
    animation-delay: -3s;
    margin-right: 200px;
  }

  .about {
    width: 300px;
    height: 100px;
    background-size: 300px 100px;
    background-image: url(materials/ui/hud_background_1.png);
    animation-delay: -5s;
    margin-left: 200px;
  }

  .players {
    width: 300px;
    height: 100px;
    background-size: 300px 100px;
    background-image: url(materials/ui/hud_background_1.png);
    animation-delay: -4s;
    margin-right: 200px;
  }

  .controls {
    width: 300px;
    height: 100px;
    background-size: 300px 100px;
    background-image: url(materials/ui/hud_background_1.png);
    animation-delay: -7s;
    margin-left: 200px;
  }

  .sboxsettings {
    width: 400px;
    height: 100px;
    background-size: 400px 100px;
    background-image: url(materials/ui/hud_background_1.png);
    animation-delay: -9s;
    margin-right: 200px;
  }

  .physboxsettings {
    width: 400px;
    height: 100px;
    background-size: 400px 100px;
    background-image: url(materials/ui/hud_background_1.png);
    animation-delay: -1s;
    margin-left: 200px;

    .text {
      color: gray;
    !important;
    }

    i {
      color: gray;
    !important;
    }
  }

  .leave {
    width: 300px;
    height: 100px;
    background-size: 300px 100px;
    background-image: url(materials/ui/hud_background_1.png);
    animation-delay: -8s;
    margin-right: 200px;
  }
}
