Charge {
  position: absolute;
  justify-content: center;
  flex-direction: column;
  bottom: 40px;

  .animation {
    animation-name: HudElementAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: -7s;
  }

  .info {
    font-size: 20px;
    justify-content: center;
    filter: drop-shadow(2px 2px #000000ab);

    img {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
  }
}

@keyframes HudElementAnimation {
  0% {
    transform: translate(0px, 2px) rotate(0.5deg);
  }

  25% {
    transform: translate(2px, 0px) rotate(-0.5deg);
  }

  50% {
    transform: translate(0px, -2px) rotate(0.5deg);
  }

  75% {
    transform: translate(-2px, 0px) rotate(-0.5deg);
  }

  100% {
    transform: translate(0px, 2px) rotate(0.5deg);
  }
}