LobbyList {
  width: 800px;
  height: 300px;
  top: 72px;
  margin-bottom: 32px;

  flex-direction: column;
  gap: 8px;

  padding: 20px;
  background-color: #000000ab;
  border-radius: 10px;
  backdrop-filter: blur(5px);

  .top_bar {
    width: 100%;
    height: 24px;
    justify-content: space-between;

    .title_text {
      align-self: center;
      font-weight: bold;
      font-family: Luckiest Guy;
      font-size: 24px;
      color: #fff;
      filter: drop-shadow(2px 2px #000000ab);
    }

    .refresh_button {
      align-self: flex-end;
      font-weight: bold;
      font-size: 24px;
      color: #fff;
      filter: drop-shadow(2px 2px #000000ab);
    }
  }

  .searching {
    margin: auto;
    font-weight: bold;
    font-family: Luckiest Guy;
    font-size: 24px;
    color: #fff;
    filter: drop-shadow(2px 2px #000000e1);
  }
}
