@using Sandbox;
@using Sandbox.UI;
@attribute [Title("Player Nametag (Main Menu)")]
@attribute [Icon("info")]
@attribute [Group("Physbox")]
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="option_background option_text" style="padding: 16px; font-size: 40px">@Sandbox.Utility.Steam.PersonaName</div>
</root>

@code
{
}
