@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using System;
@inherits Panel
@namespace Physbox

@if (PauseMenu.Paused) return;

<root>
	<div>
		<img src="@(GetImageSource())" />
	</div>
	<div style="flex-direction:column">
		<div class="text" style="color: @( GetNameColor() )">
			@Name
		</div>
		<div class="text">
			@Message
		</div>
	</div>

</root>

@code
{
	
	public MessageType MessageType;
	public Guid Sender;
	public string Message;

	public string Name => MessageType == MessageType.Player ? Connection.Find(Sender).DisplayName : "SYSTEM";
	private string GetNameColor()
	{
		if (MessageType == MessageType.System) return "lightgreen";

		var connection = Connection.Find(Sender);
		if (connection.SteamId == (SteamId)76561198808392634)
		{
			return "gold";
		}

		return "lightblue";
	}

	private string GetImageSource()
	{
		if (MessageType == MessageType.System) return "materials/ui/hud_chat_system_icon.png";
		else return $"avatar:{Connection.Find(Sender).SteamId}";
	}
}
