* {
    .container {
        flex-direction: column;
    }

    .big_label {
        font-size: 28px;
        font-family: Luckiest Guy;
        color: #fff;
        filter: drop-shadow(2px 2px #000000ab);
    }

    .small_label {
        font-size: 15px;
        font-family: Luckiest Guy;
        color: #fff;
        align-self: center;
        filter: drop-shadow(2px 2px #000000ab);
    }

    .info_text {
        font-size: 20px;
        font-family: Luckiest Guy;
        color: #fff;
        filter: drop-shadow(2px 2px #000000ab);
    }

    .background {
        padding: 20px;
        background-color: #000000ab;
        border-radius: 10px;
        backdrop-filter: blur(5px);
    }
}
