PopupWindow {
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 0.2s ease-in;
  background-color: #000000e1;
  pointer-events: all;
  
  &:intro {
    opacity: 0;
  }

  &:outro {
    opacity: 0;
  }

  .window {
    width: 70%;
    height: 70%;
    margin: auto;
    padding: 20px;
    background-color: #292621ab;
    border-radius: 10px;
    
    flex-direction: column;
    gap: 12px;
  }
  
  .top_bar {
    width: 100%;
    height: 24px;
    justify-content: space-between;
    
    .title_text {
      align-self: center;
      font-weight: bold;
      font-family: Luckiest Guy;
      font-size: 24px;
      color: #fff;
      filter: drop-shadow(2px 2px #000000ab);
    }
    
    .exit_button {
      align-self: flex-end;
      font-weight: bold;
      font-size: 24px;
      color: #fff;
      filter: drop-shadow(2px 2px #000000ab);
    }
  }
}