* {
  .option {
    gap: 16px;
    height: 48px;
    justify-content: flex-start;
    margin: 0;
  }

  .option_title {
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: flex-start;
    flex-shrink: 0;
    font-size: 24px;
    filter: drop-shadow(2px 2px #000000e1);
  }

  .option_text {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    filter: drop-shadow(2px 2px #000000e1);
  }

  .option_background {
    background-color: #38342dF8;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding-left: 16px;
    padding-right: 16px;
  }

  .option_icon {
    margin: auto;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    width: 48px;
    height: 24px;
    justify-content: center;
    align-content: center;
    padding: 0;
  !important;
  }

  .option_checkbox {
    color: grey;
  }

  .checked {
    color: white;
  !important;
  }
}
