{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "debris": "Ignore",
    "player": "Unset",
    "breakable": "Unset",
    "no_breakable": "Collide",
    "breakable_only": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "debris",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "breakable",
      "r": "Ignore"
    },
    {
      "a": "debris",
      "b": "breakable",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "breakable",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "breakable",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "breakable",
      "r": "Collide"
    },
    {
      "a": "breakable",
      "b": "no_breakable",
      "r": "Ignore"
    },
    {
      "a": "breakable",
      "b": "breakable",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "breakable_only",
      "r": "Ignore"
    }
  ],
  "__guid": "b41a723c-ec19-4e15-8daa-4b2e084ac293",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}