{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Walk",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "alt",
      "GamepadCode": "None"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "ctrl",
      "GamepadCode": "B"
    },
    {
      "Name": "Attack1",
      "GroupName": "Actions",
      "Title": "Primary Attack",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "Use",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "e",
      "GamepadCode": "Y"
    },
    {
      "Name": "Voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "None"
    },
    {
      "Name": "Score",
      "GroupName": "Other",
      "Title": "Scoreboard",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "Menu",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "Chat",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    },
    {
      "Name": "pan_left",
      "GroupName": "Actions",
      "Title": "Pan Prop Left",
      "KeyboardCode": "MWHEELUP",
      "GamepadCode": "None"
    },
    {
      "Name": "pan_right",
      "GroupName": "Actions",
      "Title": "Pan Prop Right",
      "KeyboardCode": "MWHEELDOWN",
      "GamepadCode": "None"
    },
    {
      "Name": "drop",
      "GroupName": "Actions",
      "Title": "Drop Object",
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "None"
    }
  ],
  "__guid": "826aa27d-c140-4cf5-a63a-9ad2adde5660",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}