PauseMenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
  .text_container {
    position: absolute;
    right: 24px;
    top: 24px;
    flex-direction: column; 
    align-items: flex-end;
  }

  .text_container_bottom {
    position: absolute;
    right: 24px;
    bottom: 24px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  
  .game_text {
    font-weight: bold;
    font-family: Luckiest Guy;
    font-size: 24px;
    color: #fff;
    filter: drop-shadow(2px 2px #000000ab);
  }
}
