Scoreboard {
  // When the element is deleted make it double in size before being deleted.
  &:intro {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }

  &:outro {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  pointer-events: all;
  position: absolute;
  margin: auto;
  width: 50%;
  height: 50%;

  .statsHeader {
    height: 18px;
    margin-top: 10px;
    width: 46%;
  }

  .playerContainer {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    gap: 5px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .big_label {
    overflow: hidden;
    white-space: nowrap;
  }

  .stats_header_text {
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    filter: drop-shadow(2px 2px #000000e1);
  }

  .server_info {
    font-size: 16px;
    filter: drop-shadow(2px 2px #000000e1);
  }

  .team {
    font-size: 24px;
    filter: drop-shadow(2px 2px #000000e1);
    padding-bottom: 24px;
  }
}