@using Sandbox;
@using Sandbox.UI;
@using System;
@attribute [Title("Player Killfeed Element")]
@attribute [Icon("screen_share")]
@attribute [Group("Physbox")]
@attribute [Tint(EditorTint.Yellow)]
@inherits PanelComponent
@implements IGameEvents
@namespace Physbox

@if (IsProxy) return;
@if (Player is null) return;

<root>
	<div class="container root">
		@foreach ( var entry in Entries.TakeLast(5) )
		{
			<KillfeedDisplay Attacker="@(entry.Attacker)" Victim="@(entry.Victim)"></KillfeedDisplay>
		}
	</div>
</root>

@code
{
	PlayerComponent Player => PlayerComponent.LocalPlayer;
	GameLogicComponent Game => GameLogicComponent.GetGameInstance();

	struct Entry
	{
		public Guid Attacker;
		public Guid Victim;
		public PropDefinitionResource Prop;
	}

	List<Entry> Entries = new();

	public void AddEntry(Guid attacker, Guid victim, PropDefinitionResource prop)
	{
		Entries.Add(new() { Attacker = attacker, Victim = victim, Prop = prop });
	}

	public void OnRoundStart()
	{
		Entries.Clear();
	}

	[Rpc.Broadcast] // I don't know why I have to do this, but my networking sucks apparently.
	public void OnPlayerDeath( PlayerComponent victim, DamageInfo info )
	{
		var attacker = info.Attacker;
		if (attacker is null) return;

		if ( attacker.Components.TryGet<PlayerComponent>( out var attackerPlayer ) )
		{
			var victimID = victim.Network.Owner.Id;
			if (victim != attackerPlayer)
			{
				var attackerID = attacker.Network.Owner.Id;

				// Get the prop that killed us.
				var propDef = (PropDefinitionResource)null;
				var prop = info.Weapon.GetComponent<PropLifeComponent>();

				propDef = prop?.Definition;

				AddEntry(attackerID, victimID, propDef);
			}
			// We killed ourselves.
			else
			{
				AddEntry(victimID, victimID, null);
			}
		}
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Entries.Count());
}
