@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using System;
@inherits Panel
@namespace Physbox

<root>
	<div class="background">
		@if (AttackerPlayerComponent is not null )
		{
			<div class="attacker">
				<div class="text">
					@GetPlayerName(AttackerPlayerComponent)
				</div>
			</div>
		}

		@if ( Prop is not null )
		{
			<div class="prop">
				<img Texture=@Prop.KillfeedIcon />
			</div>
		}
		else
		{
			<div class="text">killed</div>
		}

		<div class="victim">
			<div class="text">
				@GetPlayerName(VictimPlayerComponent)
			</div>
		</div>
	</div>
</root>

@code
{
	public GameObject Victim;
	public DamageInfo DamageInfo;

	PlayerComponent VictimPlayerComponent => Victim.GetComponent<PlayerComponent>();
	PlayerComponent AttackerPlayerComponent => DamageInfo.Attacker?.GetComponent<PlayerComponent>();
	PropDefinitionResource Prop => DamageInfo.Weapon?.GetComponent<PropDefinitionComponent>().Definition as PropDefinitionResource;

	public string GetPlayerName( PlayerComponent player )
	{
		return player.IsPlayer ? player.Network.Owner.DisplayName : player.BotName;
	}
}
