@using Sandbox;
@using Sandbox.UI;
@using System;
@attribute [Title("Player Killfeed Element")]
@attribute [Icon("screen_share")]
@attribute [Group("Physbox")]
@attribute [Tint(EditorTint.Yellow)]
@inherits PanelComponent
@implements IGameEvents
@namespace Physbox

@if (IsProxy) return;
@if (Player is null) return;

<root>
	<div class="container root">
		@foreach ( var ( victim, info, _ ) in KillfeedManager.Deaths.TakeLast(5) )
		{
			<KillfeedDisplay Victim="@(victim)" DamageInfo="@(info)"></KillfeedDisplay>
		}
	</div>
</root>

@code
{
	PlayerComponent Player => PlayerComponent.LocalPlayer;
	KillfeedManagerComponent KillfeedManager => Scene.Get<KillfeedManagerComponent>();

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(KillfeedManager.Deaths.Count());
}
