@import "HudStyle.razor.scss";

DeadMessage {
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 300px;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url(materials/ui/hud_background_5.png);
    background-size: 300px 150px;
    background-image-tint: #000000ab;

    animation-name: HudElementAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes HudElementAnimation {
    0% {
        transform: translate(0px, 2px) rotate(0.5deg);
    }

    25% {
        transform: translate(2px, 0px) rotate(-0.5deg);
    }

    50% {
        transform: translate(0px, -2px) rotate(0.5deg);
    }

    75% {
        transform: translate(-2px, 0px) rotate(-0.5deg);
    }

    100% {
        transform: translate(0px, 2px) rotate(0.5deg);
    }
}