@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Physbox

@if (Player is null) return;

<root>
	<div class="background container">
		<p class="big_label" style="padding: 20px">You are dead!</p>
	</div>
</root>

@code
{
	PlayerComponent Player => PlayerComponent.LocalPlayer;


	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Player.Health );
}
