@import "HudStyle.razor.scss";

Health {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 150px;
    height: 150px;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(materials/ui/hud_background_1.png);
    background-size: 150px 150px;
    background-image-tint: #000000ab;
}