@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using System;
@inherits Panel
@namespace Physbox

<root>
	<div class="background">
		<div class="text">
			@if ( AttackerPlayerComponent is not null )
			{
				@GetPlayerName( AttackerPlayerComponent )
			}
			else
			{
				@( "🌎" )
			}
		</div>

		@if ( Prop is not null )
		{
			<img Texture=@Prop.KillfeedIcon/>
		}
		else
		{
			<div class="text">killed</div>
		}

		<div class="text">
			@GetPlayerName( VictimPlayerComponent )
		</div>
	</div>
</root>

@code
{
	public GameObject Victim;
	public DamageInfo DamageInfo;

	PlayerComponent VictimPlayerComponent => Victim.GetComponent<PlayerComponent>();
	PlayerComponent AttackerPlayerComponent => DamageInfo.Attacker?.GetComponent<PlayerComponent>();
	PropDefinitionResource Prop = null;

	public string GetPlayerName( PlayerComponent player )
	{
		return player.IsPlayer ? player.Network.Owner.DisplayName : player.BotName;
	}

	public override void Tick()
	{
		if ( Prop is not null ) return;
		if ( DamageInfo.Attacker.GetComponent<MapCollider>() is not null ) return;
		if ( DamageInfo.Attacker.GetComponent<MeshComponent>() is not null ) return;

		Prop = DamageInfo.Weapon?.GetComponent<PropDefinitionComponent>().Definition;

		if ( Prop is not null )
		{
			StateHasChanged();
		}
	}
}
