@import "../UIStyles/HudStyle.razor.scss";

Timer {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10px;
    width: 170px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(materials/ui/hud_background_2.png);
    background-size: 170px 120px;
    background-image-tint: #000000ab;

    animation-name: HudElementAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: -9s;
}

@keyframes HudElementAnimation {
    0% {
        transform: translate(0px, 2px) rotate(1deg);
    }

    25% {
        transform: translate(2px, 0px) rotate(-1deg);
    }

    50% {
        transform: translate(0px, -2px) rotate(1deg);
    }

    75% {
        transform: translate(-2px, 0px) rotate(-1deg);
    }

    100% {
        transform: translate(0px, 2px) rotate(1deg);
    }
}