@import "../UIStyles/HudStyle.razor.scss";

WinnerDisplay {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10px;
    width: 250px;
    height: 200px;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(materials/ui/hud_background_1.png);
    background-size: 250px 200px;
    background-image-tint: #000000ab;
    animation-name: HudElementAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    gap: 5px;

    img {
        margin:auto;
        width: 0;
        height: 64px;
        padding-right: 64px;
    }
}

@keyframes HudElementAnimation {
    0% {
        transform: translate(0px, 2px) rotate(0.5deg);
    }

    25% {
        transform: translate(2px, 0px) rotate(-0.5deg);
    }

    50% {
        transform: translate(0px, -2px) rotate(0.5deg);
    }

    75% {
        transform: translate(-2px, 0px) rotate(-0.5deg);
    }

    100% {
        transform: translate(0px, 2px) rotate(0.5deg);
    }
}