@import "../HudStyle.razor.scss";

Charge {
    position: absolute;
    justify-content: center;
    flex-direction: column;
    bottom: 40px;

    .chargeBarTexture {
        //mask-image: url("materials/dev/gray_grid_4_color.tga");
        //mask-repeat: repeat;
        //mask-position: center;
        //mask-size: 72px;
    }

    .animation {
        animation-name: HudElementAnimation;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-delay: -7s;
    }
}

@keyframes HudElementAnimation {
    0% {
        transform: translate(0px, 2px) rotate(0.5deg);
    }

    25% {
        transform: translate(2px, 0px) rotate(-0.5deg);
    }

    50% {
        transform: translate(0px, -2px) rotate(0.5deg);
    }

    75% {
        transform: translate(-2px, 0px) rotate(-0.5deg);
    }

    100% {
        transform: translate(0px, 2px) rotate(0.5deg);
    }
}