@import "../HudStyle.razor.scss";

Charge {
    position: absolute;
    justify-content: center;
    flex-direction: column;
    bottom: 20px;

    .chargeBarTexture {
        //mask-image: url("materials/dev/gray_grid_4_color.tga");
        //mask-repeat: repeat;
        //mask-position: center;
        //mask-size: 72px;
    }
}