@import "../HudStyle.razor.scss";

HeldProp {
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 250px;
    height: 150px;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(materials/ui/hud_background_4.png);
    background-size: 250px 150px;
    background-image-tint: #000000ab;
}